<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JavaScript代理与反射</title>
    <link href="../../assets//styles/index.css" rel="stylesheet"></link>
</head>
<body>
    <div  class="content">
        <h3>1、代理Proxy</h3>
        <div>
            <h4>1.代理概述</h4>
            <pre>
                代理Proxy 与 反射Reflect 是 ECMAScript6 为开发者提供的操作对象引入的 API,它是在语言层面做出修改所以是一种"元编程"(meta programming)即对编程语言进行编程。
                具体说Proxy 就是可以对目标对象的读取、函数调用等操作进行拦截,然后进行操作处理。它不是直接操作对象,而是像代理模式,通过生成原对象的一个代理对象进行操作,在进行这些操作时,可以添加一些需要的额外操作。
                而这个代理对象就是 Proxy生成的,可以理解成,在目标对象之前架设一层“拦截”,外界对该对象的访问,都必须先通过这层拦截,同时提供了一种机制,可以对外界的访问进行过滤和改写。
                Proxy 这个词的原意是代理,用在这里表示由它来“代理”某些操作,可以译为“代理器”。
                总结就是:Proxy 对象用于创建一个对象的代理对象,对代理对象的任何操作最终都会反应到目标对象上,从而实现基本操作的拦截和自定义(如对象属性的查找、赋值、枚举、函数调用等)。
                但是要注意代理对象和目标对象不是一个对象,严格相等判断为false。
            </pre>
            <h4>2.代理的创建方法</h4>
            <pre>
                ES6 原生提供 Proxy 构造函数,用来生成 Proxy 实例。
                语法:接收两个必需参数,缺少任意一个都会报错。
                    const proxy = new Proxy(target, handler);
                
                    参数一:target参数表示所要拦截的目标对象,或者说要代理的目标对象。
                    参数二:handler参数也是一个对象,用来定制拦截行为即拦截的配置对象。如果handler没有设置任何拦截那就等同于直接通向原对象就等同于直接方法原对象。
                注意,要使得Proxy起作用,必须针对Proxy实例进行操作,而不是针对目标对象进行操作。
                而且代理会将所有应用到它的操作转发到代理对象上,因为目标对象已经被代理到了Proxy实例对象上了。
                
            </pre>
            <h4>3.代理类型常用的实例方法</h4>
            <pre>
                使用代理的主要目的就是可以在handler拦截的配置对象里的定义捕获器(trap)或者说拦截器,每个handler可以定义0个或者多个捕获器。
                每一种捕获器都对应一种基本操作,通过在代理对象上的调用,最终会传播到目标对象上。
                每个捕获器都能访问相应的参数,基于这些参数可以重新设计被捕获方法的原始行为。

                Proxy 支持的捕获器(拦截操作)一共 13 种,但是一般不直接使用而是使用Reflect反射对象上的同名方法。
                1、get(target, propKey, receiver):拦截对象属性的读取操作也就是发生读取操作时就会触发这个方法,比如proxy.foo和proxy['foo']。
                    target: 目标对象也就是要拦截的那个对象
                    propKey: 发生读取操作时当前读取的对象属性名
                    receiver: 可选参数proxy实例本身

                2、set(target, propKey, value, receiver):拦截对象属性的设置操作,比如赋值或修改proxy.foo = v或proxy['foo'] = v,返回一个布尔值。
                    target: 目标对象也就是要拦截的那个对象
                    propKey: 发生设置操作时当前设置的对象属性名
                    value: 当前设置的属性值
                    receiver: 可选参数proxy实例本身

                3、has(target, propKey):拦截propKey in proxy的操作,返回一个布尔值。
                4、deleteProperty(target, propKey):拦截delete proxy[propKey]的操作,返回一个布尔值。
                5、ownKeys(target):拦截Object.getOwnPropertyNames(proxy)、Object.getOwnPropertySymbols(proxy)、Object.keys(proxy)、for...in循环,返回一个数组。
                该方法返回目标对象所有自身的属性的属性名,而Object.keys()的返回结果仅包括目标对象自身的可遍历属性。

                6、getOwnPropertyDescriptor(target, propKey):拦截Object.getOwnPropertyDescriptor(proxy, propKey),返回属性的描述对象。
                7、defineProperty(target, propKey, propDesc):拦截Object.defineProperty(proxy, propKey, propDesc)、Object.defineProperties(proxy, propDescs),返回一个布尔值。
                8、preventExtensions(target):拦截Object.preventExtensions(proxy),返回一个布尔值。
                9、getPrototypeOf(target):拦截Object.getPrototypeOf(proxy),返回一个对象。
                10、isExtensible(target):拦截Object.isExtensible(proxy),返回一个布尔值。
                11、setPrototypeOf(target, proto):拦截Object.setPrototypeOf(proxy, proto),返回一个布尔值。如果目标对象是函数,那么还有两种额外操作可以拦截。
                12、apply(target, object, args):拦截 Proxy 实例作为函数调用的操作,比如proxy(...args)、proxy.call(object, ...args)、proxy.apply(...)。
                13、construct(target, args):拦截 Proxy 实例作为构造函数调用的操作,比如new proxy(...args)。
            </pre>
        </div>
        <h3>2、反射Reflect</h3>
        <div>
            <h4>1.反射概述</h4>
            <pre>
                反射Reflect 也是 ECMAScript6 为开发者提供的操作对象引入的 API。
                它是一个全局对象,它的作用如下:
                    1、将Object对象的一些明显属于语言内部的方法(比如Object.defineProperty),放到Reflect对象上。
                    现阶段,某些方法同时在Object和Reflect对象上部署,未来的新方法将只部署在Reflect对象上。
                    也就是说,从Reflect对象上可以拿到语言内部的方法。

                    2、修改某些Object方法的返回结果,让其变得更合理。
                    比如,Object.defineProperty(obj, name, desc)在无法定义属性时,会抛出一个错误。
                    而Reflect.defineProperty(obj, name, desc)则会返回false。
                    // 老写法
                    try {
                        Object.defineProperty(target, property, attributes);
                        // success
                    } catch (e) {
                        // failure
                    }

                    // 新写法
                    if (Reflect.defineProperty(target, property, attributes)) {
                        // success
                    } else {
                        // failure
                    }

                    3、让Object操作都变成函数行为。某些Object操作是命令式的,比如name in obj和delete obj[name]。
                    而Reflect.has(obj, name)和Reflect.deleteProperty(obj, name)让它们变成了函数行为。
                    // 老写法
                    'assign' in Object // true
                    // 新写法
                    Reflect.has(Object, 'assign') // true

                    4、Reflect对象的方法与Proxy对象的方法一一对应,只要是Proxy对象的方法,就能在Reflect对象上找到对应的方法。
                    这就让Proxy对象可以更方便地调用对应的Reflect方法,完成默认行为的修改。
                    也就是说,不管Proxy怎么修改默认行为,你总可以在Reflect上获取默认行为。  

            </pre>
            <h4>2.反射类型常用的静态方法</h4>
            <pre>
                开发者通过捕获器的参数重建原始行为是不现实的,而且没有必要。
                因为ECMAScript6提供了全局对象Reflect,这个对象上封装了和代理Proxy对象同名的13个方法。
                这些方法封装了原始行为,而且和捕获器有着一样的行为,所以直接调用就可以轻松完成重建,比调用代理的实例方法方便。
                Reflect对象一共有 13 个静态方法,大部分与Object对象的同名方法的作用都是相同的,而与代理13个实例方法是一一对应的。
                    1.Reflect.get(target, name, receiver),可替代对象属性访问操作符。
                    2.Reflect.set(target, name, value, receiver),返回"状态标记"的布尔值,可替代赋值 = 操作符。
                    3.Reflect.has(target, name),可替代in操作符。
                    4.Reflect.defineProperty(target, name, desc),返回"状态标记"的布尔值。
                    5.Reflect.getOwnPropertyDescriptor(target, name),
                    6.Reflect.deleteProperty(target, name),返回"状态标记"的布尔值,可替代delete操作符。
                    7.Reflect.ownKeys(target),
                    8.Reflect.getPrototypeOf(target),
                    9.Reflect.setPrototypeOf(target, prototype),返回"状态标记"的布尔值。
                    10.Reflect.isExtensible(target),
                    11.Reflect.preventExtensions(target),返回"状态标记"的布尔值。
                    12.Reflect.apply(target, thisArg, args),
                    13.Reflect.construct(target, args),可替代new操作符。
                这些方法中很多会返回一个被称为"状态标记"的布尔值,表示执行的操作是否成功,成功返回true反之则否。

            </pre>
        </div>
    </div>



<!-- js -->
<script>
    // 没有设置任何拦截访问proxy就等同于访问target,操作proxy就是在操作target。
    // let target = {};//对target对象进行代理
    // let proxy = new Proxy(target, {});
    // proxy.a = 37;   // 对代理对象的所有操作都会应用转发到代理对象上
    // console.log(target.a);    // 37. 操作已经被正确地转发

 /*常用代理拦截方法使用*/
    const person = {
        name:'zhangsan',
        age:27
    };
    const proxy = new Proxy(person,{
        // 1.代理实例方法拦截读取操作
        // get:function(target,propKey){
        //     // 读取属性时不存在我们自己定义一个错误抛出,原来是不报错返回未定义undefined。
        //     if(propKey in target){
        //         return target[propKey]
        //     }else{
        //         return new ReferenceError(`你读取的属性${propKey}不存在`)
        //     }
        // },
        // 2.使用反射对应的api
        get(target,property,receiver){
            return Reflect.get(...arguments)
        },
        set(target,property,value,receiver){
            return Reflect.set(...arguments)
        },
        
    })
    // 使用代理对象访问
    console.log(proxy.name)//zhangsan
    proxy.gender = 'male';
    console.log(proxy.gender)//male



</script>
</body>
</html>