<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript操作符</title>
    <link href="../../assets//styles/index.css" rel="stylesheet"></link>
</head>
<body>
    <h3>1、js操作符:</h3>
    <div class="content">
        <h4>1.js操作符简介:</h4>
        <div>
            js操作符也叫运算符是ECMAScript-262中定义的用来操作数据值的一组符号(本质是执行特定功能的符号)。
            通过操作符可以对一个或多个现有数值(直接量或者变量)进行某种操作,并获取操作后的新值。
        </div>
        <h4>2.js常见操作符及分类:</h4>
        <div> 
            通过运算元划分，JavaScript中有一元运算符、二元运算符、三元运算符。
            运算元：运算符应用的对象、也就是操作的参数个数。一个就是一元、两个就是二元这样。
            <h5>1.算术操作符</h5>
            <p>
                加+ 减- 乘* 除/ 求余%等覆盖了所有主要的运算,对非数值运算时先转为数值再运算。(除了字符串的加法,它是拼串操作。)
                任何值做-,*,/运算时都会自动转换为number可以利用这一特点做隐式类型转换,即通过-0,*1,/1就可以实现,原理和Number()函数一样。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;加法运算符:  1 + 2 ==> 3 <br>
                &nbsp;&nbsp;&nbsp;&nbsp;减法运算符:  3 - 2 ==> 1<br>
                &nbsp;&nbsp;&nbsp;&nbsp;乘法运算符:  3 * 2 ==> 6<br>
                &nbsp;&nbsp;&nbsp;&nbsp;除法运算符:  4 / 2 ==> 2<br>
                &nbsp;&nbsp;&nbsp;&nbsp;余数运算符:  12 % 5 ==> 2 返回前一个运算子被后一个运算子除，所得的余数。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;指数运算符:  2 ** 2 === 2² ==> 4 这是在 ES2016 新增的运算符、多个指数运算符连用时右结合从最右边开始计算的。<br>
            </p>
           <h5>2.一元操作符</h5>
           <p>
                只操作一个操作数的操作符,+,-。正负号。自增++,自减--可以在自身的基础上增加或减少1。
                注意:a和a++,++a是不一样的,a是变量,a++和++a是表达式。
                无论使用前置还是后置的自增或自减,变量a都会增加或减少1。
                不同在于a++和++a是表达式, 而表达式的值不同<br>
                a++ 等于原变量的值,
                ++a 等于原变量新值。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;自增运算符:  ++x 或者 x++<br>
                &nbsp;&nbsp;&nbsp;&nbsp;自减运算符:  --x 或者 x--<br>
                &nbsp;&nbsp;&nbsp;&nbsp;数值运算符:   +x<br>
                &nbsp;&nbsp;&nbsp;&nbsp;负数值运算符: -x<br>
            </p>
            <h5>3.逻辑操作符</h5>
            <p>
                !非,&&与(且),||或。将多个操作数放在一起运算返回结果是布尔值。<br>
                &nbsp;&nbsp;&nbsp;&nbsp; not非!,取反是一个感叹号用于将布尔值变为相反值、对于非布尔值取反运算符会将其转为布尔值。即true变成false、false变成true。!true ==> false<br>
                &nbsp;&nbsp;&nbsp;&nbsp; and与&&,有假且假,短路与,所以左操作数为false时直接返回运算子的值,不再判断右边的表达式、为true时计算运算符右侧下一个运算子的值返回。't' && '' ==>  "" 。短路与可用来对一个if语句改写:
                <pre>
                if (i) {
                    doSomething();
                 }
                // 等价于
                i && doSomething();
                </pre>
                <br>
                or或||,有真或为真,短路或,所以左操作数为true时直接返回运算子的值,不再判断右边的表达式。为false，则返回第二个运算子的值。false || 0 || '' || 4 || 'foo' || true  ==> 4 <br>
            </p>
            <h5>4.赋值操作符</h5>
            <p>
                 = 可以将符号右侧的值赋值给符号左侧的变量,可以与其他运算符结合形成变体组合成复合赋值使用 如: a+=5 是 a=a+5的缩写。
                 复合赋值只是简写语法,不会提升性能。
            </p>
            <br>
            <h5>5.关系操作符</h5>
            <p>
                    用来比较两个变量(值)之间的大小关系,成立返回true,不成立返回false。
                大于&gt;,大于等于&gt;=,小于&lt;,小于等于&lt;=,等于==,不等于!=,全等于===,不全等于!==。
                注意:返回结果是布尔类型的值true/false
                    等于 在比较时会进行类型的隐式转换。
                    全等则必须值和类型都一样才会返回true,
                面试题:何时使用"===",何时使用 "=="    
                "==" 只做值的比较且在比较时会进行类型的隐式转换
                "===" 比较值和类型
                <br>
            </p>
            <h5>6. 链判断运算符</h5>
            <p>
                ES2020 引入了“链判断运算符”(optional chaining operator) ?.  用来解决
            </p>
            <h5>6.三元操作符</h5>
            <p>
                JavaScript唯一一个需要三个运算子的运算符:三元条件运算符(?:),必有返回值。
                语法:条件?语句1:语句2;条件成立时执行语句1,不成立执行语句2。<br>
                这个是比较常用了、一般用来优化一次if else语句。
            </p>
        </div>
        <h4>3.js操作符的优先级</h4>
        <div>
            JavaScript 各种运算符的优先级别(Operator Precedence)是不一样的它能决定操作符执行的先后顺序。优先级高的运算符先执行,优先级低的运算符后执行。
            圆括号（()）可以用来提高运算的优先级,因为它的优先级是最高的,即圆括号中的表达式会第一个运算。
            注意:圆括号不是运算符,而是一种语法结构。它一共有两种用法:一种是把表达式放在圆括号之中,提升运算的优先级；另一种是跟在函数的后面,作用是调用函数。
            记住一元运算符优先级高于二元运算符就行。
        </div>
    </div>

<!-- js -->
<script>
window.onload = function(){

}
</script>
</body>
</html>